.animated-image {
  background: url('/chocolate_vending_machine/images/VendingVideo0020.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image0 {
  background: url('/chocolate_vending_machine/images/VendingVideo0020.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image1 {
  background: url('/chocolate_vending_machine/images/VendingVideo0019.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image2 {
  background: url('/chocolate_vending_machine/images/VendingVideo0018.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image3 {
  background: url('/chocolate_vending_machine/images/VendingVideo0017.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image4 {
  background: url('/chocolate_vending_machine/images/VendingVideo0016.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image5 {
  background: url('/chocolate_vending_machine/images/VendingVideo0015.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image6 {
  background: url('/chocolate_vending_machine/images/VendingVideo0014.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image7 {
  background: url('/chocolate_vending_machine/images/VendingVideo0013.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image8 {
  background: url('/chocolate_vending_machine/images/VendingVideo0012.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image9 {
  background: url('/chocolate_vending_machine/images/VendingVideo0011.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image10 {
  background: url('/chocolate_vending_machine/images/VendingVideo0010.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image11 {
  background: url('/chocolate_vending_machine/images/VendingVideo0009.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image12 {
  background: url('/chocolate_vending_machine/images/VendingVideo0008.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image13 {
  background: url('/chocolate_vending_machine/images/VendingVideo0007.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image14 {
  background: url('/chocolate_vending_machine/images/VendingVideo0006.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image15 {
  background: url('/chocolate_vending_machine/images/VendingVideo0005.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image16 {
  background: url('/chocolate_vending_machine/images/VendingVideo0004.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image17 {
  background: url('/chocolate_vending_machine/images/VendingVideo0003.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image18 {
  background: url('/chocolate_vending_machine/images/VendingVideo0002.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image19 {
  background: url('/chocolate_vending_machine/images/VendingVideo0001.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}
.animated-image20 {
  background: url('/chocolate_vending_machine/images/VendingVideo0000.jpg');
  background-repeat: no-repeat;
  display: block;
  width: 1200px;
  height: 800px;
  background-size: 100% 100%;
  position:fixed;
}


